html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
  outline: 1px, solid, red;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
  font-style: normal;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

body {
  overflow-x: hidden;
  background-color: #FFFFFF;
  color: #757575;
  font-family: Roboto, sans-serif;
}

.subject {
  margin-top: 0px;
  margin-bottom: 0px;
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.accent-logo {
  color: #2196f3;
}

.site-nav {
  display: none;
  margin-left: 88px;
}

.site-nav :not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: inline-flex;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
}

.site-nav .link, .contact .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link {
  color: #212121;
}

.current {
  position: relative;
}

.current:hover, .current:focus {
  color: #2196f3;
  opacity: 1;
}

.current::after {
  position: absolute;
  bottom: -8px;
  right: 0px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 20px;
  z-index: 55;
  transition: opacity 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current:hover::after, .current:focus::after {
  color: #2196f3;
  transition-duration: 250ms;
}

@media screen and (max-width: 767px) {
  .button-menu-mobile {
    display: block;
    border: none;
    background-color: white;
  }
}

@media screen and (min-width: 768px) {
  .button-menu-mobile {
    display: none;
  }
}

.icon-menu-mobile {
  width: 24px;
  height: 16px;
}

.contact {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact {
    display: inline-flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
  }
}

.contact-list .link {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .contact-list .link {
    margin-right: 30px;
  }
}

.contact-list .link-tel {
  margin-right: 0px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-list .link-tel {
    padding-top: 0;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-list .link-mail {
    padding-top: 21px;
    padding-bottom: 10px;
  }
}

.contact .link {
  color: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact .link:focus,
.contact .link:hover {
  color: #2196f3;
}

.contact-nav-svg {
  margin-right: 10px;
}

.mail-size {
  width: 16px;
  height: 12px;
}

.tel-size {
  width: 10px;
  height: 16px;
}

.link {
  fill: #757575;
  transition-duration: 520ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover .contact-nav-svg,
.link:focus .contact-nav-svg {
  fill: #2196f3;
}

.hiro-botton {
  display: inline-flex;
  justify-content: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 10px 34px;
  min-width: 200px;
  height: 50px;
  margin-bottom: 200px;
  font-family: inherit;
  background: #2196f3;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 581px;
  width: 528px;
  background-color: #fff;
}

.modal-svg {
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  background-color: #FFFFFF;
  background-size: contain;
}

.modal-svg:hover .icon-close,
.modal-svg:focus .icon-close {
  fill: #2196f3;
}

.icon-close {
  width: 11px;
  height: 11px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  width: 528px;
  height: 518px;
  padding-left: 41px;
  padding-right: 39px;
}

.form-title {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 12px;
  color: #212121;
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.conditions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-button-block {
  text-align: center;
}

.form-button {
  margin-top: 30px;
  margin-bottom: 0px;
}

.form-coment {
  margin-bottom: 10px;
}

.coment {
  resize: none;
  padding: 13px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.coment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-input {
  position: relative;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #2196f3;
  outline: #2196f3;
}

.form-input:focus + .form-icon {
  fill: #2196f3;
  outline: #2196f3;
}

.form-icon {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 26px;
  left: 15px;
  transform: translateY(50%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon-mail {
  width: 15px;
  height: 12px;
}

.form-icon-tel {
  width: 13px;
  height: 13px;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox:checked + .icon-checked {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url("../Image/icon check.svg");
  background-size: contain;
  background-origin: border-box;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.icon-checked {
  display: inline-block;
  margin-right: 9px;
  width: 15px;
  height: 16px;
  border: 1px solid;
  border-color: #212121;
  border-radius: 2px;
}

.form-contract {
  margin-left: 9px;
  color: #2196f3;
}

.social-link {
  display: flex;
}

@media screen and (max-width: 766px) {
  .social-link {
    margin-bottom: 24px;
    margin-right: 122px;
    margin-left: 122px;
  }
}

@media screen and (min-width: 768px) {
  .social-link {
    margin-bottom: 24px;
    margin-right: 74px;
    margin-left: 74px;
  }
}

@media screen and (min-width: 1200px) {
  .social-link {
    margin-bottom: 30px;
    margin-right: 32px;
    margin-left: 32px;
  }
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-item {
  flex-basis: calc((100% / 4) - 10px);
}

.social-titel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-titel:hover, .social-titel:focus {
  background-color: #2196f3;
}

.social-titel:hover .social-icon,
.social-titel:focus .social-icon {
  fill: #FFFFFF;
}

.social-icon {
  width: 20px;
  height: 20px;
  color: currentColor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .form-mailing {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form-button-mailing {
  padding: 10px 28px;
  margin-bottom: 0;
}

@media screen and (max-width: 1199px) {
  .form-button-mailing {
    margin-top: 20px;
  }
}

.footer-form-input {
  width: 450px;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 12px;
}

.footer-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: 255,255,255,0,6;
}

@media screen and (min-width: 1200px) {
  .footer-form-input {
    width: 358px;
  }
}

.form-icon-footer {
  fill: #FFFFFF;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.hiro {
  display: flex;
  background: #2F303A;
  text-align: center;
  height: 600px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../Image/Img (8).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hiro-title {
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 200px;
  color: #FFFFFF;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .navigation {
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    margin-right: auto;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin: 0px;
  padding-bottom: 30px;
  color: #212121;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title {
    padding-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

@media screen and (max-width: 1199px) {
  .section-work {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .features {
    margin-right: -30px;
    margin-top: -30px;
    display: inline-flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .features > .item {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .features > .item:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .item {
    margin-right: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .item {
    margin-right: 30px;
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.features .item::before {
  content: "";
  display: flex;
  justify-content: center;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .features .item {
    margin-top: 0;
  }
}

.features-title {
  display: none;
}

.features .title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 766px) {
  .features .title {
    text-align: center;
  }
}

.features-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}

.features-text {
  margin: 0px;
}

.icon-antenna::before {
  background-image: url(../Image/antenna.svg);
}

.icon-clock::before {
  background-image: url(../Image/clock.svg);
}

.icon-diagram::before {
  background-image: url(../Image/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../Image/astronaut.svg);
}

.our-work {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.photo-item {
  position: relative;
  padding: 0px;
  margin-right: 30px;
  flex-basis: calc((100% / 3) - 30px);
}

.titel-photo-work {
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: block;
  margin: 0px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  height: 70px;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  padding-top: 27px;
}

.section-our-team {
  background-color: #F5F4FA;
}

@media screen and (min-width: 768px) {
  .our-team {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team {
    display: flex;
    margin-right: -30px;
  }
}

.our-team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .our-team-item {
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .our-team-item {
    margin-right: 30px;
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .our-team > .our-team-item {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .our-team > .our-team-item:last-child {
    margin-bottom: 0px;
  }
}

.our-team .name,
.our-team .profession {
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.our-team .profession {
  margin-bottom: 16px;
}

.our-team .name {
  color: #212121;
  font-weight: 500;
  margin-top: 31px;
  margin-bottom: 10px;
}

.customers {
  display: inline-flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover, .customers-link:focus {
  border-color: #2196f3;
  transition-duration: 250ms;
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: #2196f3;
  transition-duration: 250ms;
}

.customers-list {
  margin-right: 30px;
  margin-top: 30px;
  height: 90px;
}

@media screen and (max-width: 767px) {
  .customers-list {
    flex-wrap: nowrap;
    flex-basis: calc((100% / 2) - 30px);
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .customers-list {
    flex-basis: calc((100% / 3) - 30px);
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .customers-list {
    flex-basis: calc((100% / 6) - 30px);
    width: 170px;
  }
}

.icon-one {
  width: 44px;
  height: 49px;
}

.icon-two {
  width: 40px;
  height: 52px;
}

.icon-three {
  width: 41px;
  height: 42px;
}

.icon-four {
  width: 79px;
  height: 42px;
}

.icon-five {
  width: 59px;
  height: 47px;
}

.icon-six {
  width: 90px;
  height: 46px;
}

.customers-icon {
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background: #2F303A;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.container-logo {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .container-logo {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .container-logo {
    text-align: left;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.logo-footer {
  display: inline-block;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-contact {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
}

.footer-link {
  margin-bottom: 6px;
}

.footer-link:last-child {
  margin-bottom: 0;
}

.footer-item {
  color: #757575;
}

.social-link-footer {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .social-join {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .social-join {
    margin-left: 70px;
    margin-right: 93px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.social-title-footer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-title-footer:hover, .social-title-footer:focus {
  background-color: #2196f3;
  transition-duration: 250ms;
}

.social-icon-footer {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.social-item-footer {
  margin-right: 10px;
  flex-basis: calc((100% /4) * 10px);
}

.social-item-footer:last-child {
  margin-right: 0px;
}

.footer-tatel {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .footer-tatel {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-tablet {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 60px;
    justify-content: space-around;
  }
}
/*# sourceMappingURL=main.css.map */