// 
// .item{
//   margin-right: 30px;
//   flex-basis: calc((100% / 4) - 30px);

//     &:last-child {
//     margin-right: 0;
//     }
// }
.features .item{
  margin-top: 94px;

    &::before{
    content: "";
    display: flex;
    justify-content: center;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $backgraund-color2;
    margin-bottom: 30px;
}


}
.features-title{
  display: none;
}
.features .title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: $title-text-color;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;  
}
.features-text{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}

.section{
  padding-bottom: 94px;
}
.features-text{
  margin: 0px;
}

.icon-antenna::before{
background-image: url(../Image/antenna.svg);
}
.icon-clock::before{
background-image: url(../Image/clock.svg);
}
.icon-diagram::before{
background-image: url(../Image/diagram.svg);
}
.icon-astronaut::before{
background-image: url(../Image/astronaut.svg);
}