.main-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navigation{
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px){
  width: 100%;
  justify-content: space-between;}
  @media screen and (min-width: 768px){
  margin-right: auto;
  }
}