
.our-work{
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  
}
.photo-item{
  position: relative;
  padding: 0px;
  margin-right: 30px;
  flex-basis: calc((100% / 3) - 30px);
}
.titel-photo-work{
position: absolute;
right: 0px;
bottom: 0px;
left: 0px;
display: block;
margin: 0px;
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.03em;
text-align: center;
height: 70px;
color: $white;
background-color: rgba(47, 48, 58, 0.8);
text-transform: uppercase;
padding-top: 27px
}