// .nav-portfolio{
//   margin-right: 10px;
// }


.header{ 
  border-bottom: 1px solid #ECECEC;
}

.portfolio-link{
  text-decoration: none;
 }


.botton-item{
  margin-right: 8px;
   &:last-child { 
      margin-right: 0px;
    
    }
  @media screen and (max-width: 767px){
    margin-bottom: 15px;
  }
}
.portf-nav{
   @media screen and (max-width: 767px){
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
  
  }
   @media screen and (min-width: 768px){
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 30px;
  }
   @media screen and (min-width: 1200px){
    padding-bottom: 50px;
    }

}
.portolio-button{
  display: block;
  padding: 6px 22px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent ;
 
  background: $backgraund-color2;
  color: $title-text-color ;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  transition-duration:  $time-duration;
   transition-timing-function: $timing-function;
  
    &:hover,
    &:focus{
      background: $accent;
      color: $white;
      transition-duration:  $time-duration;
    }
  }
