.hiro-botton{
  display: inline-flex;
  justify-content: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  padding: 10px 34px;
  min-width: 200px;
  height: 50px;
 
  
  font-family: inherit;
  background: $accent;
  color: $white;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}