.logo {
 
  color: $black;
  font-family:$two-font;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
 @media screen and (min-width: 1200px)
  {font-size: 26px;
  line-height: 1.2;}

}

.accent-logo {
  color: $accent;
}