.social-link{
  display: flex;

  
  @media screen and (max-width: 766px){
  margin-bottom: 24px;
  margin-right: 122px;
  margin-left: 122px; 
  }
  @media screen and (min-width: 768px){
    margin-bottom: 24px;
  margin-right: 74px;
  margin-left: 74px; 
  }
  @media screen and (min-width: 1200px){
    margin-bottom: 30px;
  margin-right: 32px;
  margin-left: 32px; 
  }

}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.social-item{
  
  flex-basis: calc((100% / 4) - 10px);

}
.social-titel{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition-duration:  $time-duration;
  transition-timing-function: $timing-function;

      &:hover,
      &:focus {
        background-color: $accent;
      } 
      
      &:hover .social-icon,
      &:focus .social-icon{
        fill: $white;
      }
}

.social-icon{
  width: 20px;
  height: 20px;
  color: currentColor;
  transition-duration:  $time-duration;
   transition-timing-function: $timing-function; ;;
}
 