.contact-nav-svg{
  width: 16px;
  
}
.mail-size{
 width: 16px; 
 height: 12px;
}
.tel-size{
  width: 10px;
  height: 16px;
}
.link{
  fill: $primary-text-color;
  transition-duration: 520ms ;
  transition-timing-function: $timing-function; ;;

    &:hover .contact-nav-svg,
    &:focus .contact-nav-svg{
      fill: $accent;
    }
}