.contact{
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

.contact-list .link{
 display: flex;
 align-items: center;
 margin-right: 30px;
  
}
.contact-list .link-tel{
  margin-right: 0px;
}

.contact .link {
  color: $primary-text-color;
  transition-duration:  $time-duration;
  transition-timing-function: $timing-function;
}

.contact .link:focus,
.contact .link:hover {
  color: $accent;
  
}
.contact-nav-svg{
  margin-right: 10px;
  
}
.mail-size{
 width: 16px; 
 height: 12px;
}
.tel-size{
  width: 10px;
  height: 16px;
}
.link{
  fill: $primary-text-color;
  transition-duration: 520ms ;
  transition-timing-function: $timing-function; ;;

    &:hover .contact-nav-svg,
    &:focus .contact-nav-svg{
      fill: $accent;
    }
}