html{
  box-sizing: border-box;
}
*,
::after,
::before{
  box-sizing: inherit;
  outline: 1px, solid, red;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px){
    width: 480px;
  }
  @media screen and (min-width: 768px){
    width: 768px;
  }
  @media screen and (min-width: 1200px){
    width: 1200px;
  }

}
.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
  font-style: normal;
  
}
.img{
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;

}
body {
  overflow-x: hidden;
  background-color: $white;
  color: $primary-text-color;
  font-family: $main-font;

}
body.modal-open{
overflow: hidden;
}
.subject
{
  margin-top: 0px;
  margin-bottom: 0px;
}



  