
  $primary-text-color: #757575;
  $title-text-color: #212121;
  $accent: #2196f3;
  $white: #FFFFFF;
  $black: #000000;
  $background-color: #2F303A;
  $backgraund-color2: #F5F4FA;
  $timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  $time-duration: 250ms ;
  $main-font:  Roboto, sans-serif;
  $two-font: Raleway, sans-serif;
  